@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to Joel's New and Improved Movie Tracker!</h1>
    <br />
    <img src="~/JoelHilton.jpg" />
    <p>^^ This is Joel! ^^</p>
    <br />
    <h2>This is where Joel likes to track all of his favorite movies.  If you'd like to submit one, do it below!</h2>
    <br />
    <a asp-action="SubmitMovie" class="btn btn-primary">Submit Here!</a>
</div>
